.side_bar{
    background-color: aliceblue;
    height: 600px;
}
.main_side{
    background-color: azure;
    height: 600px;
}
.constructor{
    background-color: #bce8f1;
    height: 88%;
    width: 100%;
    position: relative;
}
svg.constructor{
    height: 100%;
    width: 100%;
}
.highlight{
    background-color: #5bc0de;
    border: solid 1px black;
}
.dropzone > .h3{
    background-color: rgba(215, 215, 215, 0.5);
}
.element{
    display: inline-block;
    height: 5em;
    width: 5em;
    position: relative;
    cursor: move;
}
.marker{
    border: solid 2px black;
    display: inline-block;
    border-radius: 2.5em;
    background-color: rgba(13,133,22,1);
}
.marker > p{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    line-height: 1.25em;
}
.marker.active{
    background-color: rgba(255, 231, 92, 0.67);
}
#destination_marker, .destination{
    background-color: #d43f3a;
}
#route_marker, .route{
    background-color: #3c22ad;
}
.pointA,
.pointB,
.x2{
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.6em;
    background-color: #222;
    z-index: 6;
    cursor: pointer;
}
.line > .pointA{
    position: absolute;
    top:0;
    left: 0;
}
.line > .pointB{
    position: absolute;
    top: 3.8em;
    left: 3.8em;
}
.svg_line{
     width: 5em;
     height: 5em;
 }
form > input:last-of-type{
    margin-bottom: 1em;
}