#side_grid{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
#side_grid .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#open_side_grid{
    font-size: 24px;
    cursor: pointer;
    float: left;
    margin-top: 16px;
    margin-right: 16px;
}
#upload_map_button{
    height: 27px;
    width: 30px;
    cursor: pointer;
    float: left;
    margin-top: 16px;
    margin-right: 16px;
    background: url("../img/upload_icon.png") 0px 3px/27px 26px;
}
.side_bar{
    background-color: aliceblue;
    height: 900px;
}
.main_side{
    background-color: azure;
    height: 900px;
    overflow: scroll;
}
.constructor{
    background-color: #bce8f1;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.5s;
}
svg#svg_constructor{
    height: 100%;
    width: 100%;
}
.highlight{
    background-color: #5bc0de;
    border: solid 1px black;
}
.dropzone > .h3{
    background-color: rgba(215, 215, 215, 0.5);
}
.element{
    display: inline-block;
    height: 5em;
    width: 5em;
    position: relative;
    cursor: move;
}
.marker{
    border: solid 2px black;
    display: inline-block;
    border-radius: 2.5em;
    background-color: rgba(13,133,22,1);
}
.marker > p{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    line-height: 1.25em;
}
.marker.active{
    background-color: rgba(255, 231, 92, 0.67);
}
#destination_marker, .destination{
    background-color: #d43f3a;
}
#route_marker, .route{
    background-color: #3c22ad;
}
.pointA,
.pointB,
.x2{
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.6em;
    background-color: #222;
    /*z-index: 6;*/
    cursor: pointer;
}
.line > .pointA{
    position: absolute;
    top:0;
    left: 0;
}
.line > .pointB{
    position: absolute;
    top: 3.8em;
    left: 3.8em;
}
.svg_line{
     width: 5em;
     height: 5em;
 }
.top-margin{
    margin-top: 1em;
}
#marker_name {
    text-transform:capitalize;
}
#grid{
    margin: 45px 5px;
}