.side_bar{
    background-color: aliceblue;
    height: 600px;
}
.main_side{
    background-color: azure;
    height: 600px;
}
.constructor{
    background-color: #bce8f1;
    height: 100%;
    width: 100%;
    position: relative;
}
svg{
    position: absolute;
}
.highlight{
    background-color: #5bc0de;
    border: solid 1px black;
}
.dropzone > .h3{
    background-color: rgba(215, 215, 215, 0.5);
}
#destination_marker,
#route_marker,
#dummy_marker{
    position: inherit;
}
